{% extends 'backoffice/backofficebase.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <h1>Edit Season</h1>
    <a class="btn btn-info" href="{{ path('backoffice_season_index') }}">back to list</a>

    {{ include('backoffice/season/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('backoffice/season/_delete_form.html.twig') }}
{% endblock %}
