{% extends 'backoffice/backofficebase.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Create new Season</h1>
    <a class="btn btn-info" href="{{ path('backoffice_season_index') }}">back to list</a>

    {{ include('backoffice/season/_form.html.twig') }}

{% endblock %}
